h2{
    text-align: center;
}
.Card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: auto;
}
.Card:nth-child(1n){
    flex-wrap: wrap-reverse; 
}
.Card:nth-child(2n){
    flex-wrap: wrap; 
}
.Card img{
    width: 80%;
    height: 450px;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
    object-fit: cover;
    object-position: center;
}
.Card_text{
    padding:100px 60px;
    background-color: #322016;
    font-size: 16px;
    font-weight: 500;
    color: white;
    font-family: 'DosisExtraLigth';
}
.MisionVision{
    flex-wrap: wrap;
}
.testimonio{
  min-width: 200px;
  margin-top: 30px; display: flex; flex-direction: column; justify-content: center; align-items: center; padding: 20px; width: 70%; margin: auto; gap: 20px; background-color: #32201654; border-radius: 40px;
}
@media (min-width: 768px) { 
  .testimonio{
    flex-direction: row;
  }
  .Card{
    flex-wrap: nowrap; 
  }
  .Card img{
    width: 500px;
    height: 550px;    
  }
  .Card:nth-child(1n), .Card:nth-child(2n){
    flex-wrap: nowrap; 
  }
  .MisionVision{
    flex-wrap: nowrap; 
  }
}

