html{
    width: 100dvw !important;
    font-family: 'DosisMedium';
}
h2{
    text-align: center;
    margin: 30px 0;
}
h3{
    font-family: 'DosisVariable';
    color: #E1603B;
    letter-spacing: 3px;
    text-align: center;
    margin-bottom: 15px;
}
.container{
    display: flex !important;
    justify-content: space-around !important; 
    align-items: center !important;
    width: 360px !important;
    background: #EFE9E2 !important;
    padding:40px 10px !important;
    border-radius: 30px !important;
    gap: 15px !important;
}
.container p{
    font-size: 16px;
    font-weight: 600;
    line-height: 27px;
    font-family: 'DosisSemiBold';
}
.redes{
    width: 100%; background-color: #EFE9E2; display: flex; justify-content: center; align-items: center; gap: 70px;
    padding: 20px 0;
}
#contactotitle{
    min-width: 400px;
    width: 50%;
    margin: auto;   
}
.redes div{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E1603B;
    gap: 20px;
    font-weight: 700;
}
.form-container {
    background-color: white;
    border: 5px solid #f3b55d;
    border-radius: 40px;
    padding: 30px;
    width: 940px;
    min-width: 300px;
    margin: auto;
    text-align: center;
}

.form-group {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin-bottom: 20px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    background-color: #FED688;
    font-size: 12px;
    border: none;
}
.form-group input{
    height: 70px;
}
input::placeholder,
textarea::placeholder {
    color: black;
}

textarea {
    resize: none;
    width: 100%;
    height: 100px;
    background-color: #FED688;
    border-radius: 30px;
    padding: 10px;
}

.maps{
    width: 700px; margin:40px auto;
}

.questions{
    display: flex !important; justify-content: center !important; align-items: center !important; gap: 20px !important;
    flex-wrap: wrap !important;
}
.questions .q{
    background-color: #322016;
    color: white;
    padding: 40px;
    width: 550px;
    min-height: 390px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
span,hr{
    width: 80%;
}
@media (max-width: 500px) {
    .maps{
        width:70%;
        margin: auto;
    }
    .redes{
        flex-direction: column;
        gap: 30px;
    }
    .container{
        width: 80%;
        margin: auto;
    }   
    .form-container{
        width: 300px;
    }
}