.container_galeria{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    padding: 40px;
}
.container_galeria img{
    max-width: 350px;
    max-height: 550px;
    object-fit: cover;
    object-position: center;
    border-radius: 30px;
}
.container_galeria img:hover{
    scale: 1.1;
}