.service {
    display: flex;
    flex-direction: column;
    flex-direction: column-reverse;
    background-color: #ffffff;
    padding:10rem 50px;
    transform: translateY(-70px);
    border-bottom-left-radius: 100px;
    gap: 20px;
}

.service_conteiner_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    width: 95%;
    margin: auto;
}

.service_conteiner_text p {
    width: 90%;
}

.service_conteiner_sections {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 70px;
}

.service_title {
    text-align: center;
}

.service_section {
    position: relative;
    width: 259px;
    height: 280px;
    background-color: #EFEDEB;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    transition-duration: 300ms;
}

.service_section h3 {
    margin-top: 5px;
    font-family: 20px;
    font-family: 'DosisMedium';
    font-weight: 800;
    line-height: 25.28px;
    letter-spacing: 2px;
    text-align: center;
}

.service_section p {
    width: 90%;
    margin: auto;
    text-align: center;
}

.service_section1:hover {
    background-color: #FED688;
}

.service_section2:hover {
    background-color: #E1603B;
}

.service2 {
    gap: 40px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding: 50px;
}

.containerSecond {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containerSecond_subtitlemobile {
    display: none;
}

.containerSecond_Foto {
    display: none;
}

.containerSecond_containerParrafo {
    display: flex;
    flex-direction: column;
    gap: 8rem;
    justify-content: center;
    align-items: center;
}

.heart {
    position: absolute;
    right: -30px;
    top: -50px;
}

.service_icon {
    width: 80px;
    height: 87px;
}

.containerSecond_subtitle {
    display: block;
}

.containerSecond_parrafo {
    display: grid;
    place-items: center;

}
.containerGallery{
    display: flex; flex-direction: column;
}
.containerGallery_text{
    display: flex; 
    flex-direction: column; 
    gap: 4rem; 
    justify-content: space-between; 
    align-items: center; 
}
.containerGallery_text img{
    width: 300px;
    margin-bottom: 20px;
}
.containerGallery_fotos{
    display: grid;
    place-items: center; 
    margin-bottom: 20px;
    gap: 1.253rem;
}
.containerGallery_fotos img{
    width: 300px;
}
.textContainerCard {
    display: grid;
    place-items: center;

}
#contactotitle{
    width: 90%;
    margin: auto;
}
.form-container {
    background-color: white;
    border: 5px solid #f3b55d;
    border-radius: 40px;
    padding: 30px;
    width: 60%;
    min-width: 300px;
    margin: auto;
    text-align: center;
}

.form-group {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin-bottom: 20px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    background-color: #FED688;
    font-size: 12px;
    border: none;
}
.form-group input{
    height: 70px;
}
input::placeholder,
textarea::placeholder {
    color: black;
}

textarea {
    resize: none;
    width: 100%;
    height: 100px;
    background-color: #FED688;
    border-radius: 30px;
    padding: 10px;
}

@media (min-width: 768px) {
    .service_conteiner_sections {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-template-rows: repeat(2, minmax(0, 1fr));
    }
    .containerGallery_fotos img{
        width: 320px;
    }
    .sectionGallery_images {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-template-rows: repeat(2, minmax(0, 1fr));
    }
}

@media (min-width: 768px) {
    .containerGallery_text img{
        width: 400px;
        margin-bottom: 0;
    }
    .containerGallery{
        display: grid; 
        grid-template-columns: 1.3fr 2fr;
    }
    .containerGallery_fotos{
        grid-template-columns: repeat(2, minmax(0, 1fr)); 
        margin-bottom: 0;
        grid-template-rows: repeat(2, minmax(0, 1fr)); 
    }
}

@media (min-width: 1024px) {
    .service {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        place-items: center;
    }

    .containerSecond {
        flex-direction: row;
    }

    .textContainerCard {
        gap: 8rem;
    }

    .service2 {
        gap: 20px;
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        place-items: center;
    }

    .containerSecond_subtitle {
        display: none;
    }

    .containerSecond_subtitlemobile {
        display: block;
    }

    .containerSecond_parrafo {
        gap: 8rem;
    }

    .containerSecond_Foto {
        display: block;
    }
    .containerSecond_Foto img{
        width: 200px;
    }
}