#serviciotitle{
    width: 80%;
    max-width: 400px;
}
.container_one{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin:6rem auto;
    gap: 10px;
}
.container_one> img{
    width: 480px;
    height: 480px;
    object-fit: cover;
    border-top-left-radius: 100px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 10px;
    margin: auto;
}
.container>img{
    width: 500px;
    height: 550px;
    object-fit: cover;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
}
.container>div{
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    color: #fff;
    gap: 15px;
    border-radius: 100px;
}
.container:nth-child(1n){
    flex-wrap: wrap;
}
.container:nth-child(2n){
    flex-wrap: wrap-reverse;

}
.container>div>div span{
    display: block;
}
small{
    color: #FED688;
}
span{
    width: 100% ;
}
hr{
    margin-bottom: 20px;
}
@media (max-width: 500px) {
    .container_one{
        flex-direction: column;
    }
    .container_one img{
        width: 80%;
        height: 80%;
    }   
    .container{
        width: 300px;
    }
    .container>img{
        width: 90%;
        height: 330px;
    }
}