@font-face {
    font-family: 'DosisMedium';
    src: url('/public/fonts/Dosis-Medium.ttf');
}
@font-face {
    font-family: 'DosisExtraLigth';
    src: url('/public/fonts/Dosis-ExtraLight.ttf');
}
@font-face {
    font-family: 'DosisExtraBold';
    src: url('/public/fonts/Dosis-ExtraBold.ttf');
}
@font-face {
    font-family: 'DosisSemiBold';
    src: url('/public/fonts/Dosis-SemiBold.ttf');
}
@font-face {
    font-family: 'DosisVariable';
    src: url('/public/fonts/Dosis-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'Secramento';
    src: url('/public/fonts/Sacramento-Regular.ttf');
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 'DosisMedium' !important;
    max-width: 100% !important;
    transition: 300ms;
}
body{
    overflow-x: hidden !important;
}
a{
    text-decoration: none;
    color: white;
}
html{
    max-width: 100%;
    min-height: 100vh;
    background-color: #EFE9E2;
}
h2{
    padding: 10px 0;
    overflow-y: hidden;
    font-family: 'Secramento';
    font-size: 70px !important;
    font-weight: 400 !important;
    color: #322016;
}
.ham{
    cursor: pointer;
}
header{
    display: flex; 
    position: relative; 
    justify-content: space-around; 
    align-items: center; 
    background-color: #ffffff;         
}
.containerPrinc{
    width: 100%;
}
.containerLogo{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100%; 
}
.containerLogo > img{
    height: 80px;
}
.navTC_icons{
    display: flex; 
    align-items: center; 
    height: 100%; 
    gap: 20px;
}
.icon>img{
    height: 23px;
}
.navTC_links{
    display: none; 
    justify-content: space-around; 
    align-items: flex-end; 
    width: 100%; 
    height: 50%; 
}
.navTC_links>div{
    background-color: #332016;
    padding: 15px;
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: center;
    gap:4rem;
    border-top-left-radius: 30px;
}
.menu{
    margin-bottom: 10px;
}
.navMobile{
    display: flex; 
    position: absolute; 
    top: 0; 
    right: 0; 
    z-index: 50; 
    padding-top: 6rem;
    padding-bottom: 6rem; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    width: 70%;
    background: #EFE9E2;
}
.navMobile_header{
    display: flex; 
    position: absolute; 
    padding-left: 2.5rem;
    padding-right: 2.5rem; 
    justify-content: space-between; 
    width: 100%; 
    top: 19px;
}
nav>div>a{
    color: white;
    text-decoration: none;
}
.navMobile_links{
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    gap: 30px;
}
.navMobile_links a{
    color: black;
}
.activate{
    color: #ffd88a !important;
}
.Tag{
    background-color: #ccc; padding: 10px 0px 10px 3rem; display: flex; align-items: center; gap: 20px;
}
.Banner{
    position: relative;
    width: 100%;
    min-height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url('/public/princ.jpeg');
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    z-index: 40;
}
.BannerSecundario{
    width: 100%; height: 440px; background-position: center; background-repeat: no-repeat; background-size: cover; display: flex; flex-direction: column; justify-content: center; align-items: center; gap: 2.5rem; border-bottom-left-radius: 100px; border-bottom-right-radius: 100px;
}
.reserva_banner{
    background: #E1603B;
    transition-duration: 300ms;
}
.reserva_banner:hover{
    background-color: #ffd88a;
    color: black;
}
.fontoDegrad{
    opacity: .5;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #FED688 27%, #322016 81%);
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
}
.Banner_containerText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    width: 50%;
    margin: auto;
    gap: 40px;
    line-height: 27px;
    letter-spacing: 1px;
    font-size: 20px;
    font-family: 'DosisMedium';
}
.banner_buttons{
    display: flex; 
    flex-direction: column; 
    justify-content: space-around; 
    align-items: center; 
    margin-top: 20px;
    gap: 15px;
}
.button_one{
    width: 185px; padding:11px 0;
    border-top-left-radius: 14px; border-bottom-right-radius: 14px; text-align: center;
}
.descNav{
    transform:translateX(700px);
}
.footercel {
    background-color: #322016;
    padding: 20px;
    text-align: center;
    color: white !important;
}
.footercel p, .footercel ul, .footercel li {
    margin: 0;
    padding: 0;
    list-style: none;
}
.footercel .contact-info p {
    margin-bottom: 10px;
}
.footercel .info ul, .footercel .services ul {
    padding-left: 0;
}
.footercel .info ul li, .footercel .services ul li {
    margin-bottom: 5px;
}
.footercel .copyright {
    font-size: 0.875rem;
    margin-top: 20px;
}
.footericons{
    display: flex;
    align-items: center;
    gap: 15px;
}
.footerCompu{
    display: none; 
    grid-template-columns: repeat(3, minmax(0, 1fr)); 
}
@media (max-width: 500px) {
    nav>div>a{
        color: black;
    }
    .activate{
        color: #E1603B;
    }
    h2{
        font-size: 45px !important;
    }
    .Banner{
        height: 120vh;
    }
    .Banner_containerText{
        width: 70%;
        font-size: 16px;
        gap:50px;
    }
    .main_title{
        width: 293px;
        margin-top: 90px;
    }
    .fontoDegrad{
        background: linear-gradient(to bottom, #32201673, #FED68826);
    }
    .ham{
        height: 50px;
    }
}

@media (min-width: 768px) { 
  .navTC{
    display: block; 
  }
}

@media (min-width: 1024px) {
    header{
        justify-content: space-between; 
        padding-top: 30px;
    }
    .containerLogo{
        width: 36%;
    }
    .navTC{ 
        width: 100%; 
    }
    .navTC_links{
        display: block;
    }
    .navTC_icons{
        padding-right: 7rem; 
        justify-content: flex-end; 
        margin-bottom: 20px;
    }
    .menu{
        display: none; 
    }
    .navMobile{
        display: none; 
    }
    .banner_buttons{
        width: 90%;
    }
    .footercel{
        display: none;
    }
    .footerCompu{
        display: grid;
    }
}