*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    max-width: 100% !important;
    transition: 300ms;
}
body{
    overflow-x: hidden !important;
}
a{
    text-decoration: none;
    color: white;
}
@font-face {
    font-family: 'DosisMedium';
    src: url('/public/fonts/Dosis-Medium.ttf');
}
@font-face {
    font-family: 'DosisExtraLigth';
    src: url('/public/fonts/Dosis-ExtraLight.ttf');
}
@font-face {
    font-family: 'DosisExtraBold';
    src: url('/public/fonts/Dosis-ExtraBold.ttf');
}
@font-face {
    font-family: 'DosisSemiBold';
    src: url('/public/fonts/Dosis-SemiBold.ttf');
}
@font-face {
    font-family: 'DosisVariable';
    src: url('/public/fonts/Dosis-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'Secramento';
    src: url('/public/fonts/Sacramento-Regular.ttf');
}
html{
    max-width: 100%;
    min-height: 100vh;
    background-color: #EFE9E2;
}
h2{
    padding: 10px 0;
    overflow-y: hidden;
    font-family: 'Secramento';
    font-size: 70px !important;
    font-weight: 400 !important;
    color: #322016;
}
.ham{
    cursor: pointer;
}
header{
    
}
.containerPrinc{
    width: 100%;
}
.containerLogo{
    
}

.containerLogo > img{
    height: 80px;
}
.containerIcons{
    
}
.icon>img{
    height: 23px;
}
.comput{
    
}
.comput>div{
    background-color: #332016;
    padding: 15px;
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: center;
    gap:4rem;
    border-top-left-radius: 30px;
}
nav>div>a{
    color: white;
    text-decoration: none;
}
.activate{
    color: #ffd88a;
}
.Banner{
    position: relative;
    width: 100%;
    min-height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url('/public/princ.jpeg');
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    z-index: 40;
}
.reserva_banner{
    background: #E1603B;
    transition-duration: 300ms;
}
.reserva_banner:hover{
    background-color: #ffd88a;
    color: black;
}
.fontoDegrad{
    opacity: .5;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #FED688 27%, #322016 81%);
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
}
.Banner_containerText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    width: 50%;
    margin: auto;
    gap: 40px;
    line-height: 27px;
    letter-spacing: 1px;
    font-size: 20px;
    font-family: 'DosisMedium';
}
.button_one{
    width: 185px; padding:11px 0;
    border-top-left-radius: 14px; border-bottom-right-radius: 14px; text-align: center;
}
.descNav{
    transform:translateX(400px);
}
@media (max-width: 500px) {
    nav>div>a{
        color: black;
    }
    .activate{
        color: #E1603B;
    }
    h2{
        font-size: 45px !important;
    }
    .Banner{
        height: 120vh;
    }
    .Banner_containerText{
        width: 70%;
        font-size: 16px;
        gap:50px;
    }
    .main_title{
        width: 293px;
        margin-top: 90px;
    }
    .fontoDegrad{
        background: linear-gradient(to bottom, #32201673, #FED68826);
    }
    .ham{
        height: 50px;
    }
}